*  {
    padding: 0;
    margin: 0;
    border: 0;
  } 
  
  *,
  *::before,
  *::after {
     -webkit-box-sizing: border-box; 
            box-sizing: border-box;
            margin: 0;
            padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0px;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    margin: 0;
  }
  
  input {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul, li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  } 
body{
    margin: 0;
    background-color:#ffffff;
    font-family: 'Raleway' ;
    font-weight: 400;
  
}
.header {
    position: absolute;
    top: 0;
    left: 0;    
    right: 0;
    z-index: 1000;
    
 }
.conteiner {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
         
}
.heder_row {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid yellow;
    padding: 40px 0px;
    
    
}
.header_title {
  display: block;
  max-width: 100%;    
}
.nav {
}
.nav_link {
    display:inline-block;
    margin-right: 60px;
    font-size: 13px;
    color: beige;
    text-decoration: none;
    text-transform: uppercase;
    
}
.nav_link:last-child{
    margin-right: 0;
}
 
.intro {
    background: url(..//Img/intro/IntroBg.png) no-repeat center ;
    background-size: cover;
    height: 100vh ;
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    
    
}
 
.intro__body{
    text-align: center;
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
}
 
.intro__title {
     font-size: 60px;
     color: #ffffff;
     font-family: 'Open-sens' bolt;
     text-transform: uppercase;
      margin-top: 150px;
     text-align: center;
     margin-bottom:45px ;
     
}
.intro__subtittle {
        font-size: 22px;
        color:#babbc4;
        line-height: 33px;
        margin-bottom: 85px;
}
.intro__link {
    background-color:#e84545;
    color: #fdf3f3;
    padding: 20px 60px;
    text-transform: uppercase;
    font-size:small 10px;
    text-align: center;
    text-decoration: none;
 
    display:inline-block;
    border-radius: 3px;
   
}
.features {
    padding:120px 0 40px 0;
  }
  
  .features__row {
    display: flex;
    flex-wrap: wrap;
  
      margin: 0 -47.5px; 
  }
  .features__column {
    width: 33.33333%;
   padding: 0 47.5px; 
  }
  .features__item {
    text-align: center;
    margin-bottom:80px;
  }
.features__icon {
    margin-bottom: 30px;
}
.features__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
   
}
.features__text {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    line-height: 21px;
} 
 

.work {  
    /*height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 5px;*/
    background-color: black;
     
 }

.work__inner {
    background-color: blue;
     
 }

 .work__row {
    
    display:flex;
     justify-content: space-between;  
      flex-wrap: wrap;  
    
    background-color: yellow;
    margin: -4px 0px 0px 0px; 
 
}
.work__block {
     
  width: 25%;
    background-color: rgb(231, 247, 203);
    padding:1px; 
   
}
.team {
  padding: 100px 0px;
}
 .team__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.team__column {
 flex-basis: 25%;
  padding: 0px 15px;
}
.team__img {
}
.team__name {
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
  top: 0;
  left: 0;
  color: #2d3033;
}
.team__job {
  margin-top: 16px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  color: #eb5e5e;
}
.team__text {
  margin-top: 30px;
  top: 0;
  left: 0;
  color: #6c7279;
  line-height: 1.21;
}
.social {
  display: flex;
  margin-top: 30px;
}
.social__link {
  border: 1px solid gray;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.social__link img{
 }

.clients {
  background-color: #53354a;
  overflow: hidden; 
}
.conteiner {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.clients__item {
  display: flex;
  flex-wrap: wrap;
  
}
.clients__photo {
  width: 50%;
  height: 500px;
  position: relative;
    
}
.clients__photo img{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 0;
   z-index: 2;
}
.clients__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: #ffffff;
  padding-left: 80px;
}
.clints__quote {
  font-size: 36px;
  font-family:'Cardo';
  line-height: 1.21;
  font-style: italic;
  font-weight:400;
}
.clients__author {
  margin-top:40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
}
.clients__cirkle {
  margin-top: 60px;
  display: flex;
  justify-content: center; 
}
.clients__cirkle img{
margin-right: 5px;
}
.clients__cirkle img:hover{
  background-image: url(../Img/clients/EllipseWhite.png);
   opacity: 0.85;
  }
  .download {
  padding:100px 0;
  }
  .conteiner {
   
  }
  .download__body {
    text-align: center;

  }
  .text__title {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 300;
  color: #3b3e41;
  }
  .text__subtitle {
   margin-bottom: 40px;
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   color: #2d3033;
  }
  .downloud__btn {
   
  }
 .downoad__link{
  display: inline-block;
  padding: 18px 80px;
  background-color: #e84545;
  color:#f6b5b5;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
 }


 
@media (max-width: 990px) {
  .img__clients{
      width: 100%;
      overflow: hidden;
      margin: 10px 0;
  }

  .clients__block{
      width: 100%;
      padding-left: 0;
      padding: 20px 0;
  }
}

.client {
  background-color: #53354a;
  overflow: hidden;
}
.container {
  max-width: 1241px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.client__inner {
  display: flex;
  flex-wrap: wrap;
}
.client__photo {
  width: 50%;
  height: 500px;
  position: relative;

}

.client__photo img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
}
.client__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}
.client__text {
  color: #ffff;
  font-family: 'Cardo';
  font-style: italic;
  font-size: 36px;

  margin-bottom: 20px;
}
.client__author {
  color: #ffff;
  text-transform: uppercase;
}
 
@media (max-width: 990px) {
  .client__photo{
      width: 100%;
      overflow: hidden;
      margin: 10px 0;
  }

  .client__content{
      width: 100%;
      padding-left: 0;
      padding: 20px 0;
  }
} 
.footer {
background-color: #3a3e64;
color: #ffffff;
 
}
.conteiner {
}
.footer__row {
  display: flex;
  flex-wrap: wrap; 
  padding: 74px 0px 107px 0px;
  
}
.location {
  width: 33.33333%;
  text-align: center;
}
.location__title {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.location__address {
  font-size: 14px;
  font-weight: 400;
  color: grey;
  line-height:22.5px;
  
}
.share {
   width: 33.33333%;
 
 text-align: center;
}
.share__title {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.social {
 
}
.footer-social{
display: flex;
justify-content: center;
}
.social__link {
}
.location__about {
   width: 33.33333%;
   text-align: center;
   
}
.about__title {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.about__text {
  font-size: 14px;
  font-weight: 400;
  color: grey;
  line-height:22.5px;
}
.footer__bottom {
  background-color: #313454;
  padding: 30px 0px;
}
.footer__row-bottom {
  text-align: center;
}
.footer__bottom-address {
  font-style: normal;
  font-size: 14px;
  line-height: 22.5px;
  color:grey;
}
.address {
  color: #ffffff;
}
